#page {
  margin-left: 18vw;
  margin-right: 18vw;
}

.list {
  list-style-type: none;
}

.proj:hover {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  color: #b1ff64;
}
@media (prefers-color-scheme: light) {
  .proj:hover {
    color: #07540a;
  }
}

.text,
.wire-area {
  display: flex;
  align-items: center;
}

h2,
h3,
ul,
li {
  margin: 0;
}

.text img {
  width: 125px;
  height: auto;
  margin-right: 30px;
}

.wire-area img {
  margin-left: 2vw;
  height: 25vh;
}

.desc {
  margin-left: 3vw;
  margin-right: 5vw;
}
