:root {
  font-family: "Courier New", Courier, monospace, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(252, 177, 177, 0.87);
  background-color: #012102;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(./assets/c2.png), auto;
}

a,
button,
input,
select,
textarea {
  cursor: url("./assets/c2.png"), auto;
}

a {
  font-weight: 500;
  color: #ff6464;
  text-decoration: inherit;
}
a:hover {
  color: #b1ff64;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #012102;
    background-color: #fcb1b1;
  }
  a {
    color: #8b3535;
  }
  a:hover {
    color: #07540a;
  }
}

.button:active {
  transform: translateX(2px) translateY(4px);
}
